<h3>Welcome Friend</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<section>
  <div class="column">
    <h3>Subscribe to our newsletter by leaving your email!</h3>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Your Email' %>
        <br/>
        <%= f.button :submit, "Click Here to Send", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>